html {
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  line-height: 0;
}

header {
  align-content: center;
}

/* ------------------------------------------------body-------------------- */
body {
  background: url("img/elk.jpeg");
  background-size: cover;
  background-position: 50% 60%;
  background-attachment: fixed;
  color: white;
  font-family: Quicksand, sans-serif;
}

#navigation {
  margin: 1em auto;
  display: inline-block;
  background: rgba(0, 0, 0, 0.39);
  border: 1px solid #282828;
  border-radius: 1em;
}

#navigation ul {
  list-style: none;
}
#navigation ul li {
  color: #adadad;
  display: inline-block;
  /* float: left; */
  text-align: center;
  font: bold 15px/40px Arial, Helvetica, sans-serif;
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid #282828;
}
#navigation ul li a {
  text-decoration: none;
  display: inline-block;
  color: #adadad;
}
#navigation ul li a:hover {
  color: #ffffff;
}

.dashboard {
  text-align: center;
}
.deposit {
  text-align: left;
  margin: 1em;
}

.withdraw {
  text-align: right;
}

.balance {
  text-align: center;
}

#depositInput {
  text-align: right !important;
}

#accounts {
  text-align: right;
  padding: 2em;
  margin: 1em;
  width: 70%;
}

body {
  margin: 1em;
  /* padding-top: 100px; */
  /* background-color: #363958; */
}

.submit-area {
  padding: 30px;
  margin-top: 1em;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.001);
  color: white;
  background-color: rgba(67, 67, 67, 0);
}

#account-area {
  margin-top: 5%;
}

.deposit {
  background-color: rgba(92, 230, 110, 0.201);
}

.withdraw {
  background-color: rgba(255, 137, 122, 0.205);
}

#withdraw-btn {
  border-color: rgb(168, 60, 60);
  border: solid;

  background-color: rgb(168, 60, 60);
}

.balance {
  background-color: rgba(126, 71, 255, 0.212);
}

.status {
  margin: 0 20px;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

#inputError {
  display: none;
  font-size: 0.8em;
}

#inputError.visible {
  display: block;
}

input.invalid {
  border-color: red;
}

#weather {
  text-align: left;
  align-items: center;
}

#footer {
  position: relative;
  bottom: 0;
  text-align: center;
  width: 100%;
}

#footer p {
  font-size: small;
}
